.app {
	max-width: 80rem;
}

.content {
	display: flex;
}

.detail {
	flex: 1 1 70%;
	/* grow shrink basis */
}

.list {
	flex: 1 1 30%;
}

/* 780px / 16 = 48 */
@media screen and (max-width: 48rem) {
	.content {
		flex-direction: column;
	}
}
